<header id="hut-header">
  <div class="header">
    <div class="left-part">
      <a href="/"><img class="avatar" style="margin-bottom: -5px; margin-right: 10px;" src="/pages/avatar-140.jpg"></a>
    </div>
    <div class="right-part">
      <h3 class="page-title"><a href="/">hut</a></h3>
      <mark><a href="?archives">📄 使用文档</a></mark>
      <mark><a href="?albums">📔 插件文档</a></mark>
      <mark><a href="?albums">📔 主题文档</a></mark>
      <mark><a href="https://github.com/mengrru/hut" target="_blank">🧪 Github</a></mark>
    </div>
  </div>
</header>

<main id="main">
    <article id="hut-content"></article>
    <aside id="aside"></aside>
</main>

<footer id="footer">
    <p id="footer-text">
        <span id="customed-footer-text"></span> Powered by <a href="https://github.com/mengrru/hut">hut</a>
    </p>
</footer>
